{{! index.mustache }}
{{<base}}
{{$header}}
{{<header}}
{{$title}}Support Dashboard{{/title}}
{{/header}}
{{/header}}

{{$content}}
<div class="container">

    <h2>Conference Call</h2>

    <p class="lead">
        This is the list of people on the call.
    </p>
   <p>
         <a href="/findPerson" type="button"
                                    class="btn btn-primary btn-md call-customer-button">
                                Add to Conference Outgoing
          </a>
          <button onclick="turnOnIVR()" type="button"
                                    class="btn btn-primary btn-md call-customer-button">
                                IVR ON
          </button>
          <button onclick="turnOffIVR()" type="button"
                                    class="btn btn-primary btn-md call-customer-button">
                                IVR OFF
          </button>
    </p>

    <div class="row">

        <div class="col-md-4 col-md-push-8">
            <div class="panel panel-primary client-controls">
                <div class="panel-heading">
                    <h3 class="panel-title">Receive a call</h3>
                </div>
                <div class="panel-body">
                    <p><strong>Status</strong></p>

                    <div class="well well-sm" id="call-status">
                        Connecting to Twilio...
                    </div>

                    <button class="btn btn-md btn-success answer-button" disabled>Answer call
                    </button>
                    <button class="btn btn-md btn-danger hangup-button" disabled onclick="hangUp()">
                        Hang up
                    </button>
                    <button onclick="addIncoming('{{phoneNumber}}')" type="button"
                                    class="btn btn-primary btn-md call-customer-button">
                         Add to Conference Incoming
                        
          			</button>
                    
                </div>
            </div>
        </div>

        <div class="col-md-8 col-md-pull-4">
            {{#tickets}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">On the Call {{id}}
                            <small class="pull-right">{{date}}</small>
                        </h3>
                    </div>
                    <div class="panel-body">

                        <div class="pull-right">
                        <div class="list-group">
                        	<p>
                            <button onclick="callCustomer('{{phoneNumber}}')" type="button"
                                    class="btn btn-primary btn-md call-customer-button">
                                <span class="glyphicon glyphicon-earphone"
                                      aria-hidden="true"></span>
                                Call
                            </button>
                            </p>
                            <p><button onclick="holdMusic('{{phoneNumber}}',{{holdOn}})" type="button"
                                    class="btn btn-primary btn-md call-customer-button">
                                
                                Hold Music
                            </button>
                            </p>
                             <p><button onclick="disconnect('{{phoneNumber}}')" type="button"
                                    class="btn btn-primary btn-md call-customer-button">
                                
                                Hang Up
                            </button>
                            </p>
                            <p><a href="/findPerson" type="button"
                                    class="btn btn-primary btn-md call-customer-button">
                                <span class="glyphicon glyphicon-earphone"
                                      aria-hidden="true"></span>
                                Find Person
                            </a>
                            </p>
                        </div>
                        </div>
                        <p><strong>Name:</strong> {{name}}</p>

                        <p><strong>Phone number:</strong> {{phoneNumber}}</p>

                        <p><strong>Description:</strong>
                        {{description}}</p>

                    </div>
                </div>
            {{/tickets}}
            {{^tickets}}
                <div class="panel panel-default">
                    <div class="well">
                        There are no support tickets available.
                    </div>
                </div>
            {{/tickets}}
        </div>

    </div>
</div>
{{/content}}
{{/base}}
